<!DOCTYPE html>
<html lang="en">
    <%- include('./includes/head', {title: "Home"}) %>
<body> 
    <h1>Actions:</h1>
    <a class="button" href="/upload">Upload a file</a>
    <h1>Files:</h1>
<ul>
    <% files.forEach(file => { %>
        <li>
            <a href="/uploads/<%= file %>" download="<%= file %>"><%= file %></a>
            <form action="/delete/<%= file %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
                </form>
        </li>
    <% }) %>
</ul>
</body>
</html>